{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'cv/style.css' %}">
    <!-- <style media="screen">

    </style> -->
    {% block style %}
    {% endblock style %}

    <title>Joona Savela</title>
  </head>
  <body>
    <div class="nav-content-wrapper">
      <header class="navbar">
        <a class="about-me" href="{% url 'cv-index' %}">
          <h2>Joona Savela</h1>
          <img src="{% static 'cv/img/joona.JPG' %}" class="" alt="About me">
        </a>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul>
            <li><a class="" href="{% url 'cv-index' %}#education">Education</a></li>
            <li><a class="" href="{% url 'cv-index' %}#work-experience">Work Experience</a></li>
            <li><a class="" href="#">IT skills</a></li>
            <!-- <li><a class="" href="#">Projects</a></li> -->
            <li><a class="" href="{% url 'investing-index' %}">Investments and goods</a></li>
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>
      </header>
      <div class="content">
        {% block content %}{% endblock content %}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> -->
    {% block script %}{% endblock script %}
  </body>
</html>
