{% extends 'cv/base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'investing/style.css' %}">
{% endblock style %}
{% block content %}
  <div class="container">
    <h1>Investing and goods</h1>
    <div class="container">
      <form action="#" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group row">
            <label class="text-light col-sm-3 col-form-label" for="{{ field.name }}">{{ field.label }}</label>
            <div class="col-sm-2">
              {{ field }}
            </div>
          </div>
        {% endfor %}
        <input type="submit" class="btn btn-dark" value="Calculate">
      </form>
    </div>
    {% if show %}
      <div class="container mt-4">
        <h3>Time taken to pay of car loan: {{ years }} years, {{ months }} months.</h3>
        <h3>Total capital afterwards: {{ amount }}</h3>
        <h3>Car Loan Interest Paid: {{ carLoanInterestPaid }}</h3>
      </div>
    {% endif %}
  </div>
{% endblock content %}
