{% extends 'cv/base.html' %}
{% load static %}
{% block style %}
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'investing/style.css' %}"> -->
  <style media="screen">
    .investing-wrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas:
        "t t t t t t t t t t t t"
        "f f f f f p p p p p p p";
    }

    .investing-wrapper h1 {
      grid-area: t;
    }

    .investing-wrapper form {
      grid-area: f;
    }

    .canvas-container {
      grid-area: p;
    }
  </style>
{% endblock style %}
{% block content %}
  <div class="investing-wrapper">
    <h1>Investing and goods</h1>
    <form action="#" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="" value="Calculate">
    </form>
    {% if pk %}
      <div class="canvas-container">
        <canvas id="myChart" width="400" height="400" url="{% url 'api-detail' pk %}"></canvas>
      </div>
    {% endif %}
  </div>
{% endblock content %}
{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="{% static 'investing/script.js' %}"></script>
{% endblock script %}
